name: Terraform Deploy Stg

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

concurrency: terraform-deploy-stg

jobs:
  terraform-plan-stg:
    if: github.event_name == 'pull_request'
    name: Plan stg
    runs-on: ubuntu-latest
    env:
      TF_VAR_bucket_name: ${{ vars.TF_VAR_BUCKET_NAME }}

    steps:
      - name: Plan stg
        uses: Um4r-Arafath/tf-test/.github/workflows/deploy.yml@main
        with:
          aws-region: ap-southeast-1
          role-to-assume: arn:aws:iam::637423543671:role/tf-test
          backend-config: environments/stg/config.s3.tfbackend
          args: -var-file="environments/stg/terraform.tfvars"
          # working-directory: ./services/api/iac
          deploy: false

  terraform-deploy-stg:
    if: github.ref == 'refs/heads/main'
    name: Deploy stg
    uses: Um4r-Arafath/tf-test/.github/workflows/deploy.yml@main
    with:
      aws-region: ap-southeast-1
      role-to-assume: arn:aws:iam::637423543671:role/tf-test
      backend-config: environments/stg/config.s3.tfbackend
      args: -var-file="environments/stg/terraform.tfvars"
      # working-directory: ./services/api/iac
      deploy: true
